/* Home page images */
.home_hero {
  background-image: url("../images/home/home_hero/home_hero_desktop.webp");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
  height: 100vh;
  display: flex-grow;
}

.vip_access_hero {
  background-image: url("../images/vip_access/vip_hero/vip_hero_desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
  height: 100vh;
}

.ready_to_vip {
  background-image: url("../images/vip_access/ready_to_vip/ready_to_vip.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 560px;
  height: 100vh;
}

.coming_soon_hero {
  background-image: url("../images/coming_soon/coming_soon_desktop.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  /* min-height: 700px; */
  /* height: 100vh; */
}

/* Wait list page images */

.DEXA_scan_hero {
  background-image: url("../images/waitlist/DEXA_hero/DEXAScan_hero_desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.DEXA_scan_new {
  background-image: url("../images/waitlist/New_DEXA_SCAN/DEXA_Scan.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.dont_train_in_the_dark {
  background-image: url("../images/waitlist/dont_train/dont_train_desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.Wina_Free_hero {
  background-image: url("../images/WinaFree$300/HeroWin/win_hero_img.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}
.dont_train_in_the_dark_win {
  background-image: url("../images/WinaFree$300/ReadytoReclaim/ready_to_reclaim_bg_desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 768px) {
  .home_hero {
    background-image: url("../images/home/home_hero/home_hero_mobile.webp");
  }

  .coming_soon_hero {
    background-image: url("../images/coming_soon/coming_soon_mobile.webp");
  }

  /* Wait list page images */
  .DEXA_scan_hero {
    background-image: url("../images/waitlist/DEXA_hero/DEXAScan_hero_mobile.webp");
  }
  .dont_train_in_the_dark {
    background-image: url("../images/waitlist/dont_train/dont_train_mobile.webp");
  }
  .dont_train_in_the_dark_win {
    background-image: url("../images/WinaFree$300/ReadytoReclaim/ready_to_reclaim_bg_mobile.webp");
  }
  .Wina_Free_hero {
    background-image: url("../images/WinaFree$300/HeroWin/win_hero_img_mobile.webp");
  }
}
